{% extends "layout.njk" %}
{% block head %}
    <title>Sobre</title>
{% endblock head %}
{% block content %}
    <div id="wrapper">
        <img src="{{about.avatar_url}}" alt="">
        <h1>{{about.name}}</h1>
        <h2>{{about.role}}</h2>
        <p>{{about.description}}</p>
    </div>
    <div class="links" id="links-footer">
        {% for link in about.links %}
        <a href="{{link.url}}" target="_blank">{{link.name}}</a>
        {% endfor %}
    </div>
{% endblock content %}